@import 'reset.css';
@import 'color.css';
@import 'sizes.css';
@import 'typography.css';

html,
body {
	font-family: 'Inter', sans-serif;
	overflow: hidden;
}

ol,
ul {
	margin-left: var(--size-20);
	margin-bottom: var(--size-24);
}
