body {
	color: var(--gray-700);
	letter-spacing: -0.011em;
	font-size: var(--size-16);
	font-style: normal;
}

th,
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.25;
	font-weight: 900;
	color: var(--gray-700);
}
